## Análise sobre os dados das eleições municipais referentes ao primeiro turno do pleito de 2020 do Amazonas

In [2]:
import pandas as pd
import numpy as np

- Os campos estão entre aspas e separados por ponto e vírgula, inclusive os campos numéricos
- A codificação de caracteres dos arquivos é "Latin 1"

In [3]:
df = pd.read_csv("../data/candidatos/consulta_cand_2020_AM.csv", sep=';', encoding="latin-1")
df.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,DS_SIT_TOT_TURNO,ST_REELEICAO,ST_DECLARAR_BENS,NR_PROTOCOLO_CANDIDATURA,NR_PROCESSO,CD_SITUACAO_CANDIDATO_PLEITO,DS_SITUACAO_CANDIDATO_PLEITO,CD_SITUACAO_CANDIDATO_URNA,DS_SITUACAO_CANDIDATO_URNA,ST_CANDIDATO_INSERIDO_URNA
0,05/10/2020,12:29:54,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,#NULO#,N,S,-1,6002485220206040047,-1,#NULO#,-1,#NULO#,NÃO
1,05/10/2020,12:29:54,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,#NULO#,N,S,-1,6003561020206040006,-1,#NULO#,-1,#NULO#,NÃO
2,05/10/2020,12:29:54,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,#NULO#,N,S,-1,6000293020206040050,-1,#NULO#,-1,#NULO#,NÃO
3,05/10/2020,12:29:54,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,#NULO#,N,S,-1,6000894320206040069,-1,#NULO#,-1,#NULO#,NÃO
4,05/10/2020,12:29:54,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,#NULO#,N,S,-1,6003146820206040035,-1,#NULO#,-1,#NULO#,NÃO

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10353 entries, 0 to 10352
Data columns (total 63 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DT_GERACAO                     10353 non-null  object
 1   HH_GERACAO                     10353 non-null  object
 2   ANO_ELEICAO                    10353 non-null  int64
 3   CD_TIPO_ELEICAO                10353 non-null  int64
 4   NM_TIPO_ELEICAO                10353 non-null  object
 5   NR_TURNO                       10353 non-null  int64
 6   CD_ELEICAO                     10353 non-null  int64
 7   DS_ELEICAO                     10353 non-null  object
 8   DT_ELEICAO                     10353 non-null  object
 9   TP_ABRANGENCIA                 10353 non-null  object
 10  SG_UF                          10353 non-null  object
 11  SG_UE                          10353 non-null  int64
 12  NM_UE                          10353 non-null  object
 13  CD_CARGO                       10353 non-null  int64
 14  DS_CARGO                       10353 non-null  object
 15  SQ_CANDIDATO                   10353 non-null  int64
 16  NR_CANDIDATO                   10353 non-null  int64
 17  NM_CANDIDATO                   10353 non-null  object
 18  NM_URNA_CANDIDATO              10353 non-null  object
 19  NM_SOCIAL_CANDIDATO            10353 non-null  object
 20  NR_CPF_CANDIDATO               10353 non-null  int64
 21  NM_EMAIL                       10353 non-null  object
 22  CD_SITUACAO_CANDIDATURA        10353 non-null  int64
 23  DS_SITUACAO_CANDIDATURA        10353 non-null  object
 24  CD_DETALHE_SITUACAO_CAND       10353 non-null  int64
 25  DS_DETALHE_SITUACAO_CAND       10353 non-null  object
 26  TP_AGREMIACAO                  10353 non-null  object
 27  NR_PARTIDO                     10353 non-null  int64
 28  SG_PARTIDO                     10353 non-null  object
 29  NM_PARTIDO                     10353 non-null  object
 30  SQ_COLIGACAO                   10353 non-null  int64
 31  NM_COLIGACAO                   10353 non-null  object
 32  DS_COMPOSICAO_COLIGACAO        10353 non-null  object
 33  CD_NACIONALIDADE               10353 non-null  int64
 34  DS_NACIONALIDADE               10353 non-null  object
 35  SG_UF_NASCIMENTO               10353 non-null  object
 36  CD_MUNICIPIO_NASCIMENTO        10353 non-null  int64
 37  NM_MUNICIPIO_NASCIMENTO        10353 non-null  object
 38  DT_NASCIMENTO                  10353 non-null  object
 39  NR_IDADE_DATA_POSSE            10353 non-null  int64
 40  NR_TITULO_ELEITORAL_CANDIDATO  10353 non-null  int64
 41  CD_GENERO                      10353 non-null  int64
 42  DS_GENERO                      10353 non-null  object
 43  CD_GRAU_INSTRUCAO              10353 non-null  int64
 44  DS_GRAU_INSTRUCAO              10353 non-null  object
 45  CD_ESTADO_CIVIL                10353 non-null  int64
 46  DS_ESTADO_CIVIL                10353 non-null  object
 47  CD_COR_RACA                    10353 non-null  int64
 48  DS_COR_RACA                    10353 non-null  object
 49  CD_OCUPACAO                    10353 non-null  int64
 50  DS_OCUPACAO                    10353 non-null  object
 51  VR_DESPESA_MAX_CAMPANHA        10353 non-null  int64
 52  CD_SIT_TOT_TURNO               10353 non-null  int64
 53  DS_SIT_TOT_TURNO               10353 non-null  object
 54  ST_REELEICAO                   10353 non-null  object
 55  ST_DECLARAR_BENS               10353 non-null  object
 56  NR_PROTOCOLO_CANDIDATURA       10353 non-null  int64
 57  NR_PROCESSO                    10353 non-null  int64
 58  CD_SITUACAO_CANDIDATO_PLEITO   10353 non-null  int64
 59  DS_SITUACAO_CANDIDATO_PLEITO   10353 non-null  object
 60  CD_SITUACAO_CANDIDATO_URNA     10353 non-null  int64
 61  DS_SITUACAO_CANDIDATO_URNA     10353 non-null  object
 62  ST_CANDIDATO_INSERIDO_URNA     10353 non-null  object
dtypes: int64(28), object(35)
memory usage: 5.0+ MB

- Os campos estão entre aspas e separados por ponto e vírgula, inclusive os campos numéricos;
- Campos preenchidos com #NULO significam que a informação está em branco no banco de dados. O correspondente para #NULO nos campos numéricos é -1

Deletando alguns campos pois ainda não conseguem fornecer dados representativos:
- ANO_ELEICAO: 
- CD_TIPO_ELEICAO:
- NM_TIPO_ELEICAO:
- TP_ABRANGENCIA:
- SG_UF: 
- SG_UE: 
- DS_CARGO: 
- SQ_CANDIDATO: 
- NR_CANDIDATO:
- DT_GERACAO: Data da extração dos dados para geração do arquivo.
- HH_GERACAO: Hora da extração dos dados para geração do arquivo com base no horário de Brasília.
- NR_TURNO: Número do turno da eleição.
- CD_ELEICAO: Código único da eleição no âmbito da Justiça Eleitoral.
- DS_ELEICAO: Descrição da eleição.
- DT_ELEICAO: Data em que ocorreu a eleição.
- NM_UE: Unidade Eleitoral do candidato.
- NR_CPF_CANDIDATO: Número do CPF do candidato.
- NM_EMAIL: Endereço de e-mail do candidato.
- DT_NASCIMENTO: Data de nascimento do candidato.
- CD_CARGO: Código do cargo ao qual o candidato concorre na eleição.
- SQ_COLIGACAO: Sequencial da coligação da qual o candidato pertence, gerado pela Justiça Eleitoral.
- NR_TITULO_ELEITORAL_CANDIDATO: Número do título eleitoral do candidato.
- NR_PROTOCOLO_CANDIDATURA: Número do protocolo de registro de candidatura do candidato. 
- NR_PROCESSO: Número do processo de registro de candidatura do candidato.
- CD_SIT_TOT_TURNO: Código da situação de totalização do candidato, naquele turno da eleição, após a totalização dos votos.
- DS_SIT_TOT_TURNO: Situação de totalização do candidato, naquele turno da eleição, após a totalização dos votos.
- CD_SITUACAO_CANDIDATO_PLEITO: Situação da candidatura no dia do Pleito.
- CD_SITUACAO_CANDIDATO_URNA: Código da situação da candidatura na urna.
- DS_SITUACAO_CANDIDATO_URNA: Situação da candidatura na urna.
- ST_CANDIDATO_INSERIDO_URNA: Informa se o candidato foi inserido na urna eletrônica. (S/N)
- DS_SITUACAO_CANDIDATO_PLEITO: Situação da candidatura no dia do Pleito.

In [5]:
df.drop(["ANO_ELEICAO", "CD_TIPO_ELEICAO", "NM_TIPO_ELEICAO", "TP_ABRANGENCIA", "SG_UF", "SG_UE", "DS_CARGO", "NR_CANDIDATO", "SQ_CANDIDATO","DT_GERACAO", "HH_GERACAO", "NR_TURNO", "CD_ELEICAO", "DS_ELEICAO", "DT_ELEICAO", "NM_UE", "NR_CPF_CANDIDATO", "NM_EMAIL", "DT_NASCIMENTO", "CD_CARGO", "SQ_COLIGACAO", "NR_TITULO_ELEITORAL_CANDIDATO", "NR_PROTOCOLO_CANDIDATURA", "NR_PROCESSO", "CD_SIT_TOT_TURNO", "DS_SIT_TOT_TURNO", "CD_SITUACAO_CANDIDATO_PLEITO", "CD_SITUACAO_CANDIDATO_URNA", "DS_SITUACAO_CANDIDATO_URNA", "ST_CANDIDATO_INSERIDO_URNA", "DS_SITUACAO_CANDIDATO_PLEITO"], inplace=True, axis=1)

In [6]:
df.head()

,NM_CANDIDATO,NM_URNA_CANDIDATO,NM_SOCIAL_CANDIDATO,CD_SITUACAO_CANDIDATURA,DS_SITUACAO_CANDIDATURA,CD_DETALHE_SITUACAO_CAND,DS_DETALHE_SITUACAO_CAND,TP_AGREMIACAO,NR_PARTIDO,SG_PARTIDO,...,DS_GRAU_INSTRUCAO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_COR_RACA,DS_COR_RACA,CD_OCUPACAO,DS_OCUPACAO,VR_DESPESA_MAX_CAMPANHA,ST_REELEICAO,ST_DECLARAR_BENS
0,MIGUEL ELEUTERIO,MIGUEL,#NULO#,1,CADASTRADO,8,AGUARDANDO JULGAMENTO,PARTIDO ISOLADO,20,PSC,...,ENSINO FUNDAMENTAL COMPLETO,3,CASADO(A),5,INDÍGENA,601,AGRICULTOR,15975,N,S
1,FRANCISCO JOSE MORAES DE MATOS,CHICO BRANCO,#NULO#,1,CADASTRADO,8,AGUARDANDO JULGAMENTO,PARTIDO ISOLADO,90,PROS,...,ENSINO MÉDIO COMPLETO,3,CASADO(A),1,BRANCA,601,AGRICULTOR,12308,N,S
2,ISAQUE ALVES LIMA,ISAQUE LIMA,#NULO#,1,CADASTRADO,8,AGUARDANDO JULGAMENTO,PARTIDO ISOLADO,20,PSC,...,ENSINO FUNDAMENTAL INCOMPLETO,1,SOLTEIRO(A),2,PRETA,601,AGRICULTOR,12308,N,S
3,RAIMUNDO NONATO SIQUEIRA GOMES,PROFESSOR NONATO,#NULO#,1,CADASTRADO,8,AGUARDANDO JULGAMENTO,PARTIDO ISOLADO,55,PSD,...,SUPERIOR COMPLETO,3,CASADO(A),3,PARDA,266,PROFESSOR DE ENSINO MÉDIO,12308,N,S
4,WANDERLEY PRINTES MONTEIRO,WANDER MONTEIRO,#NULO#,1,CADASTRADO,8,AGUARDANDO JULGAMENTO,PARTIDO ISOLADO,15,MDB,...,SUPERIOR COMPLETO,1,SOLTEIRO(A),1,BRANCA,999,OUTROS,22080,N,S

## Exploração dos dados

In [56]:
df.groupby("ST_REELEICAO").size().reset_index(name='QUANTIDADE')

  ST_REELEICAO  QUANTIDADE
0            N        9947
1            S         406

In [47]:
df.groupby("DS_COR_RACA").size().reset_index(name='QUANTIDADE')

      DS_COR_RACA  QUANTIDADE
0         AMARELA          20
1          BRANCA        1491
2        INDÍGENA         492
3           PARDA        7830
4           PRETA         417
5  SEM INFORMAÇÃO         103

In [45]:
df.groupby("DS_ESTADO_CIVIL").size().reset_index(name='QUANTIDADE')

             DS_ESTADO_CIVIL  Quantidade
0                  CASADO(A)        3632
1              DIVORCIADO(A)         333
2  SEPARADO(A) JUDICIALMENTE          28
3                SOLTEIRO(A)        6254
4                   VIÚVO(A)         106

In [46]:
df.groupby("SG_PARTIDO").size().reset_index(name='QUANTIDADE')

       SG_PARTIDO  QUANTIDADE
0          AVANTE         425
1       CIDADANIA         271
2              DC         173
3             DEM         447
4             MDB         852
5            NOVO           8
6        PATRIOTA         245
7         PC do B         205
8             PDT         234
9              PL         515
10            PMB          97
11            PMN         146
12           PODE         332
13             PP         810
14           PROS         300
15           PRTB          64
16            PSB         269
17            PSC         854
18            PSD         688
19           PSDB         478
20            PSL         419
21           PSOL          72
22           PSTU           3
23             PT         436
24            PTB         349
25            PTC         171
26             PV         287
27           REDE          76
28   REPUBLICANOS         865
29  SOLIDARIEDADE         262

In [48]:
df.groupby("DS_OCUPACAO").size().reset_index(name='QUANTIDADE')

                                           DS_OCUPACAO  QUANTIDADE
0                                        ADMINISTRADOR         149
1                                             ADVOGADO         141
2                             AGENCIADOR DE PROPAGANDA           2
3                                AGENTE ADMINISTRATIVO          98
4                        AGENTE DE SAÚDE E SANITARISTA          78
..                                                 ...         ...
163  VENDEDOR PRACISTA, REPRESENTANTE, CAIXEIRO-VIA...          54
164                                           VEREADOR         507
165                                        VETERINÁRIO           6
166                                          VIGILANTE          73
167                                        ZOOTECNISTA           2

[168 rows x 2 columns]

In [49]:
df.groupby("DS_GRAU_INSTRUCAO").size().reset_index(name='QUANTIDADE')

               DS_GRAU_INSTRUCAO  QUANTIDADE
0                     ANALFABETO           2
1    ENSINO FUNDAMENTAL COMPLETO        1035
2  ENSINO FUNDAMENTAL INCOMPLETO        1100
3          ENSINO MÉDIO COMPLETO        4470
4        ENSINO MÉDIO INCOMPLETO         397
5                   LÊ E ESCREVE         417
6              SUPERIOR COMPLETO        2654
7            SUPERIOR INCOMPLETO         278

## Quantos possuem ensino superior completo e são mulheres?

In [54]:
df[ (df["DS_GRAU_INSTRUCAO"] == "SUPERIOR COMPLETO") & (df["DS_GENERO"] == "FEMININO") ].groupby("DS_GENERO").size().reset_index(name='QUANTIDADE')

  DS_GENERO  QUANTIDADE
0  FEMININO         904

In [55]:
df[ (df["DS_GRAU_INSTRUCAO"] == "SUPERIOR COMPLETO") & (df["DS_GENERO"] == "FEMININO") ].groupby("SG_PARTIDO").size().reset_index(name='QUANTIDADE')

       SG_PARTIDO  QUANTIDADE
0          AVANTE          38
1       CIDADANIA          19
2              DC          11
3             DEM          49
4             MDB          84
5            NOVO           2
6        PATRIOTA          19
7         PC do B          20
8             PDT          15
9              PL          37
10            PMB           7
11            PMN          15
12           PODE          36
13             PP          64
14           PROS          22
15           PRTB           8
16            PSB          28
17            PSC          80
18            PSD          61
19           PSDB          48
20            PSL          40
21           PSOL           2
22             PT          38
23            PTB          34
24            PTC           8
25             PV          26
26           REDE           4
27   REPUBLICANOS          64
28  SOLIDARIEDADE          25